CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_COMPILER_CXX_EXCEPTIONS=n
CONFIG_COMPILER_CXX_RTTI=n
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_AIR360_BOARD_NAME="esp32-s3-devkitc-1"
CONFIG_AIR360_DEVICE_NAME="air360"
CONFIG_AIR360_HTTP_PORT=80
CONFIG_AIR360_I2C0_SDA_GPIO=8
CONFIG_AIR360_I2C0_SCL_GPIO=9
CONFIG_AIR360_GPS_DEFAULT_UART_PORT=1
CONFIG_AIR360_GPS_DEFAULT_RX_GPIO=44
CONFIG_AIR360_GPS_DEFAULT_TX_GPIO=43
CONFIG_AIR360_GPS_DEFAULT_BAUD_RATE=9600
CONFIG_AIR360_GPIO_SENSOR_PIN_0=4
CONFIG_AIR360_GPIO_SENSOR_PIN_1=5
CONFIG_AIR360_GPIO_SENSOR_PIN_2=6
CONFIG_AIR360_ENABLE_LAB_AP=y
CONFIG_AIR360_LAB_AP_SSID="air360"
CONFIG_AIR360_LAB_AP_PASSWORD="air360password"
CONFIG_AIR360_LAB_AP_CHANNEL=1
CONFIG_AIR360_LAB_AP_MAX_CONNECTIONS=4
